{% trans_default_domain 'MrConnectCompassBundle' %}

{% block connect_compass_sass_variable_list_before %}
{% endblock %}

<table>
  <thead>
  <tr>
    <td>{{ "sass_variable.name"|trans }}</td>
    <td>{{ "sass_variable.type"|trans }}</td>
    <td>{{ "sass_variable.value"|trans }}</td>
    <td>{{ "sass_variable.comment"|trans }}</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  {% for sass_variable in sass_variables %}
    <tr>
      <td>{{ sass_variable.name }}</td>
      <td>{{ "sass_variable_type.#{sass_variable.type}"|trans }}</td>
      <td>
        {% if sass_variable.type == 'color' %}
          <div style="width: 40px; height: 20px; background-color: {{ sass_variable.value }}; border: #eee 1px solid" ></div>
        {% else  %}
          {{ sass_variable.value }}
        {% endif %}
      </td>
      <td>{{ sass_variable.comment }}</td>
      <td>
        {% block connect_compass_sass_variable_update_link %}
          <a href="{{ path("connect_compass_sass_variable_update", { "project" : project, "sassVariableName" : sass_variable.name}) }}">
            {{ "list.update_sass_variable"|trans }}
          </a>
        {% endblock %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% block connect_compass_sass_variable_list_after %}
  <a href="{{  path("connect_compass_sass_variable_add", { "project" : project}) }}">{{ "list.add_sass_variable"|trans }}</a>
{% endblock %}