{% trans_default_domain 'MrConnectCompassBundle' %}

<form action="{{ path("connect_compass_sass_variable_update", { "project" : project}) }}" {{ form_enctype(sass_variable_form) }} method="POST">
  {{ form_widget(sass_variable_form) }}
  <div>
    <input type="submit" value="{{ 'form.change_sass_variable.submit'|trans }}" />
  </div>
</form>

<a href="{{ path("connect_compass_sass_variables_list", {"project" : project}) }}">{{ "form.change_sass_variable.back_to_list"|trans }}</a>